$nav-main-color: #a4a4a4;
$nav-hover-color: #fff;
$nav-background-color: #08080c;
$nav-a-hover-lines-colors: #ff0036;

$banner-button-bg-color: #131313;
$banner-button-bg-hover-color: #ff0036;

$about-creativia-h5-color: #262626;
$about-creativia-inside-color: #ff0036;
$about-creativia-p-color: #505050;
$about-creativia-collapsed-name-color: #262626;
$about-creativia-active-name-color: #ff0036;
$about-creativia-card-body-color: #505050;

$portfolio-gb-color: #262626;
$portfolio-h4-color: #fff;
$portfolio-a-bg-color: #262626;
$portfolio-a-color: #a4a4a4;

$our-product-features-after-color: #ff0036;
$our-product-features-li-color: #262626;
$our-product-features-li-hover-color: #fff;
$our-product-features-li-hover-bg: #ff0036;
$our-product-features-btn-bg: #393939;
$our-product-features-btn-color: #fff;