//navigation colors
$nav-main-color: #a4a4a4;
$nav-hover-color: #fff;
$nav-background-color: #08080c;
$nav-a-hover-lines-colors: #ff0036;

//banner colors
$banner-button-bg-color: #131313;
$banner-button-bg-hover-color: #ff0036;
$banner-carousel-hover-bg-color: #000;
$banner-h5-color: #fff;
$banner-p-color: #fff;
$banner-button-color: #fff;

//about-creativia-section colors
$about-creativia-h5-color: #262626;
$about-creativia-inside-color: #ff0036;
$about-creativia-p-color: #505050;
$about-creativia-collapsed-name-color: #262626;
$about-creativia-active-name-color: #ff0036;
$about-creativia-card-body-color: #505050;
$about-creativia-accordion-before-color: #262626;
$about-creativia-card-border-color: #e7e7e7;
$about-creativia-open-plus-minus-colors: #ff0036;
$about-creativia-collapsed-plus-minus-colors: #505050;
$about-creativia-hex-color: #ff0036;
$about-creativia-hex-i-color: #fff;
$about-creativia-box-bg: #000;

//portfolio-section colors
$portfolio-gb-color: #262626;
$portfolio-h4-color: #fff;
$portfolio-a-bg-color: #262626;
$portfolio-a-color: #a4a4a4;
$portfolio-a-hover: #ff0036;
$portfolio-box-bg: #000;

//our-product-features colors
$our-product-features-after-color: #ff0036;
$our-product-features-li-color: #262626;
$our-product-features-li-hover-color: #fff;
$our-product-features-li-hover-bg: #ff0036;
$our-product-features-btn-bg: #393939;
$our-product-features-btn-color: #fff;
$our-product-features-p-color: #505050;
$our-product-features-color1: #e7e7e7;

//our-clients colors
$our-clients-h5: #fff;
$our-clients-span: #ff0036;
$our-clients-p: #a4a4a4;
$our-clients-li: #e0e0e0;
$our-clients-a: #292626;

//our-teamwork colors
$our-teamwork-h5: #262626;
$our-teamwork-span: #ff0036;
$our-teamwork-p: #505050;
$our-teamwork-border: #e7e7e7;
$our-teamwork-bg: #262626;
$our-teamwork-color1: #fff;

//our-skills
$our-skills-h5: #262626;
$our-skills-span: #ff0036;
$our-skills-span2: #000;
$our-skills-p: #505050;
$our-skills-border: #e7e7e7;
$our-skills-bg: #262626;
$our-skills-arc: #e0e0e0;

//our-services
$our-services-bg: #272727;
$our-services-h5: #fff;
$our-services-span: #ff0036;
$our-services-color1: #a4a4a4;
$our-services-contents: #343434;

//plans-bestseller
$our-plans-bestseller-h5: #262626;
$our-plans-bestseller-span: #ff0036;
$our-plans-bestseller-p: #505050;
$our-plans-bestseller-color1: #fff;
$our-plans-bestseller-cost: #f2f2f2;
$our-plans-bestseller-specification-border: #e7e7e7;

//twitter-block
$twitter-block-bg: #272727;
$twitter-block-i: #ff0036;
$twitter-block-p: #fff;

//our-blog
$our-blog-bestseller-h5: #262626;
$our-blog-bestseller-span: #ff0036;
$our-blog-bestseller-p: #505050;
$our-blog-bestseller-h6: #2e2e2e;
$our-blog-bestseller-i: #a2a2a2;
$our-blog-bestseller-button: #fff;

//follow-creativia
$follow-creativia-h5: #fff;
$follow-creativia-span: #ff0036;
$follow-creativia-p: #505050;

//find-us-here
$find-us-here-h5: #262626;
$find-us-here-span: #ff0036;
$find-us-here-p: #505050;
$find-us-here-ul: #fff;
$find-us-here-input: #e7e7e7;

//footer
$footer-bg-color: #262626;
$footer-p-color: #8e8e8e;
