.banner-slider {
  .bd-example {
    width: 100%;

    .carousel-item {
      background-image: url("../image/banner-bg-img.png");
      text-align: center;
      height: 631px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; 

      &:hover {
        &:before {
            content: '';
            background-color: $banner-carousel-hover-bg-color;
            opacity: 0.702;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 700px;
            z-index: 2;
        }
        
        }

      .carousel-caption {
        bottom: 0;
        top: 200px;

        h5 {
          font-family: "Raleway";
          font-weight: 700;
          color: $banner-h5-color;
          font-size: 30px;
          margin-bottom: 55px;

          span {
            color: $nav-a-hover-lines-colors;
          }
        }
        p {
          font-family: "Lato";
          font-weight: 400;
          color: $banner-p-color;
          font-size: 16px;
        }

        button {
            width: 170px;
            height: 50px;
            border-radius: 0;
            background: $banner-button-bg-color;
            border: none;
            font-family: 'Raleway';
            font-weight: 500;
            color: $banner-button-color;
            font-size: 20px;
            text-transform: uppercase;
            margin: 9vh 2vw;

            @media (max-width: 555px) {
              margin: 4vh 2vw;
            }

            @media (max-width: 424px) {
              margin: 2vh 2vw;
            }
            
            &:hover {
                background: $banner-button-bg-hover-color;
                box-shadow: none;
            }

            &:focus {
                box-shadow: none;
            }
        }
      }
    }

    a {
        font-size: 32px;
        color: $nav-main-color;
        z-index: 3;

        &:hover {
            color: $nav-a-hover-lines-colors;
        }
    }
  }
}
