.our-skills {
  position: relative;
  text-align: center;

  &:after {
    content: "";
    background-image: url("../image/about-us-after.png");
    width: 21px;
    height: 19px;
    position: absolute;
    left: 50%;
    top: -9px;
    transform: translate(-50%);
  }

  &:before {
    content: "";
    border-bottom: 1px solid $our-skills-h5;
    position: absolute;
    top: 0;
    width: 515px;
    transform: translate(-50%);
    
    @media (max-width:515px) {
        width: 100%;
      }
  }

  .our-skills-top {
    text-align: center;
    display: block;
    h5 {
      font-family: "Raleway";
      font-size: 30px;
      font-weight: 700;
      color: $our-skills-h5;
      padding-top: 100px;
      margin-bottom: 49px;

      span {
        color: $our-skills-span;
      }
    }

    p {
      font-family: "Lato";
      font-weight: 700;
      color: $about-creativia-p-color;
      font-size: 16px;
      margin-bottom: 100px;

      span {
        color: $about-creativia-inside-color;
      }
    }
  }

  .our-skills-main {
    margin-bottom: 100px;

    .skill {
      margin: 0 20px;

      @media (max-width: 991px) {
        margin: 20px 0 0;
      }

      .arc,
      .arc::before {
        display: block;
        box-sizing: border-box;
        border-radius: 100%;
        width: 140px;
        height: 140px;
        position: absolute;
        background-color: transparent;
        padding: 0;
        margin: 0;
      }

      .circle-1::before {
        content: "";
        border: solid $our-skills-span 2px;
        top: -2px;
        left: -2px;
        clip: rect(0px, 140px, 126px, 0px);
        transform: rotate(270deg);
      }

      .circle-2::before {
        content: "";
        border: solid $our-skills-span 2px;
        top: -2px;
        left: -2px;
        clip: rect(0px, 140px, 112px, 0px);
        transform: rotate(270deg);
      }

      .circle-3::before {
        content: "";
        border: solid $our-skills-span 2px;
        top: -2px;
        left: -2px;
        clip: rect(0px, 140px, 98px, 0px);
        transform: rotate(270deg);
      }

      .circle-4::before {
        content: "";
        border: solid $our-skills-span 2px;
        top: -2px;
        left: -2px;
        clip: rect(0px, 140px, 126px, 0px);
        transform: rotate(270deg);
      }

      .arc {
        border: solid $our-skills-arc 2px;
        clip: rect(0px, 140px, 140px, 0px);
        margin: 0 auto 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        h3 {
          color: $our-skills-span;
          font-family: "Lato";
          font-size: 40px;
          font-weight: 300;
          span {
            color: $our-skills-span2;
          }
        }
      }

      h6 {
        color: $our-skills-h5;
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 24px;
      }

      p {
        color: $our-skills-p;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
}
