.our-clients {
  background-image: url("../image/our-clients-bg.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  .our-clients-top-part {
    display: block;
    text-align: center;
    overflow: hidden;
    margin-bottom: 100px;
    outline: none;

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }

    h5 {
      font-family: "Raleway";
      font-size: 30px;
      font-weight: 700;
      color: $our-clients-h5;
      margin-top: 93px;
      margin-bottom: 50px;

      span {
        color: $our-clients-span;
      }
    }
    p {
      color: $our-clients-p;
      font-family: "Lato";
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;

      span {
        color: $our-clients-span;
      }
    }
  }
  .our-clients-middle-part {
    margin-bottom: 24px;
    outline: none;
    text-align: center;

    .photo-hrefs {

      @media (max-width: 767px) {
        padding-top: 100px;
      }

      @media (max-width: 575px) {
        padding-top: 140px;
      }
    }

    h6 {
      color: $our-clients-h5;
      font-family: "Raleway";
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 49px;
    }

    .our-clients-slider {
      justify-content: center;
      height: 124px;
      outline: none;

      #carouselExampleIndicators {
        outline: none;

        .carousel-indicators {
          width: 50px;
          outline: none;
          left: 30.4%;

          li {
            width: 8px;
            height: 8px;
            background-color: $our-clients-li;
            outline: none;

            &.active {
              background-color: $our-clients-span;
            }
          }
        }
        .carousel-item {
          .middle-left-top-part {
            display: block;
            text-align: center;
            margin-bottom: 47px;
            outline: none;

            p {
              color: $our-clients-p;
              font-family: "Lato";
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
              margin-bottom: 30px;
            }

            img {
              width: 65px;
              margin: 0 auto;
            }

            .client-name {
              color: $our-clients-span;
              font-family: "Raleway";
              font-size: 16px;
              font-weight: 700;
              text-transform: uppercase;
              margin-bottom: 0;
              margin-top: 17px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }

    .middle-right-part {
      justify-content: space-between;
      outline: none;

      a {
        color: $our-clients-a;

        &:hover {
          text-decoration: none;
        }

        .photobank {
          background-image: url("../image/our-clients-middle-right-bg-cover.png");
          width: 260px;
          height: 116px;
          box-shadow: inset 0 0 68px rgba(0, 0, 0, 0.75);
          background-color: $our-clients-h5;
          margin: 0 30px 39px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;

          @media (max-width: 1199px) {
            margin: 0 auto 39px;
          }

          span {
            font-family: "MgOpenModata";
            font-size: 24px;
            font-weight: 400;
            line-height: 29.6px;
          }

          img {
            margin-right: 9px;

            &.graphicriver {
              margin-top: 14px;
            }
          }
        }
      }
    }
  }
}
