.our-blog {
  position: relative;

  &:before {
    content: "";
    display: block;
    background-image: url(../image/our-product-features-before.png);
    width: 21px;
    height: 19px;
    position: absolute;
    top: -9px;
    left: 50%;
  }

  &:after {
    content: "";
    border-bottom: 1px solid $our-product-features-after-color;
    position: absolute;
    top: 0;
    left: 50%;
    width: 515px;
    transform: translate(-50%);

    @media (max-width: 515px) {
      width: 100%;
    }
  }
  .our-blog-top-part {
    display: block;
    text-align: center;
    overflow: hidden;
    outline: none;
    h5 {
      color: $our-blog-bestseller-h5;
      font-family: "Raleway";
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 50px;
      margin-top: 100px;

      span {
        color: $our-blog-bestseller-span;
      }
    }

    p {
      color: $our-blog-bestseller-p;
      font-family: "Lato";
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 97px;

      span {
        color: $our-blog-bestseller-span;
      }
    }
  }
  .our-blog-middle-part {
    #accordionExample{
      width: 100%;

      .card-body {
        padding-left: 0;
        padding: 1.25rem 0;
      }
    }

    .blog-block {
      flex-wrap: nowrap;
      margin-bottom: 50px;

      @media (max-width: 575px) {
        margin-left: 5px;
        margin-right: 5px;
      }

      &:hover {
        .blog-image-1,
        .blog-image-2 {
          opacity: 0.5;
        }
      }

      .blog-image-1 {
        background-image: url("../image/our-blog-bg-image-1.png");
      }
      .blog-image-2 {
        background-image: url("../image/our-blog-bg-image-2.png");
        
      }
      .blog-image-1,
      .blog-image-2 {
        width: 370px;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 424px) {
          background-position: -34px;
        }
      }

      .blog-content {
        padding-left: 29px;
        width: 49%;

        @media (max-width: 991px) {
          width: 95%;
        }

        @media (max-width: 424px) {
          padding-left: 13px;
        }

        h6 {
          color: $our-blog-bestseller-h6;
          font-family: "Raleway";
          font-size: 20px;
          font-weight: 600;
          line-height: 21px;
        }

        .post-meta {
          i {
            color: $our-blog-bestseller-i;

            span {
              padding-left: 8px;
              padding-right: 22px;
              font-family: "Lato";
              font-size: 12px;
              font-weight: 400;
              line-height: 34px;

              @media (max-width: 424px) {
                padding-right: 2px;
              }
            }
          }
        }
        p {
          color: $our-blog-bestseller-p;
          font-family: "Lato";
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          text-align: justify;

          @media (max-width: 767px) {
            span {
              display: none;
            }
          }

          @media (max-width: 511px) {
            display: none;
          }
        }
        button {
          width: 120px;
          height: 40px;
          background-color: $our-blog-bestseller-h5;
          border-radius: 0;
          color: $our-blog-bestseller-button;
          font-family: "Lato";
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          // margin-top: 13px;
          margin-left: 1px;
          outline: none;
          box-shadow: none;

          &:hover {
            background-color: $our-blog-bestseller-span;
            color: $our-blog-bestseller-button;
          }
        }
      }
    }

    .blog-accordion {
      margin: 0 auto 85px;
      .card {
        border: none;
        .card-header {
          position: relative;
          padding: 0;
          width: 43px;
          height: 43px;
          margin: 0 auto;
          border-radius: 50%;

          .mb-0 {
            height: 43px;

            button {
              position: absolute;
              top: 4px;
              left: 10px;
              padding: 0;
              font-size: 25px;
              transition: 2s;

              &.collapsed {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}
