.plans-bestseller {
  position: relative;

  &:before {
    content: "";
    display: block;
    background-image: url(../image/our-product-features-before.png);
    width: 21px;
    height: 19px;
    position: absolute;
    top: -9px;
    left: 50%;
  }

  &:after {
    content: "";
    border-bottom: 1px solid $our-product-features-after-color;
    position: absolute;
    top: 0;
    left: 50%;
    width: 515px;
    transform: translate(-50%);
  }
  .plans-bestseller-top-part {
    display: block;
    text-align: center;
    overflow: hidden;
    outline: none;

    h5 {
      color: #262626;
      font-family: "Raleway";
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 50px;
      margin-top: 100px;

      span {
        color: #ff0036;
      }
    }

    p {
      color: #505050;
      font-family: "Lato";
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 100px;

      span {
        color: #ff0036;
      }
    }
  }

  .plans-bestseller-middle-part {
    margin-bottom: 100px;

    .price {
      &:hover {
        .cost {
          background-color: #ff0036;

          p {
            color: #fff;
          }
          sub {
            color: #fff;
          }
        }
        .price-button {
          button {
            background-color: #ff0036;
            border: none;
          }
        }
      }

      .name {
        width: 270px;
        height: 48px;
        background-color: #262626;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: #ffffff;
          font-family: "Raleway";
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;
          margin: 0;
        }
      }

      .cost {
        width: 270px;
        height: 87px;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: #262626;
          font-family: "Lato";
          font-size: 50px;
          font-weight: 900;

          sub {
            color: #262626;
            font-family: "Lato";
            font-size: 16px;
            font-weight: 400;
          }
        }
      }

      .specifications {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 51px;
        background-color: #fff;
        border: 1px solid #e7e7e7;
        border-top: none;

        p {
          color: #262626;
          font-family: "Lato";
          font-size: 16px;
          font-weight: 400;
          line-height: 52px;
        }
      }

      .price-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 77px;
        background-color: #fff;
        border: 1px solid #e7e7e7;
        border-top: none;

        button {
          width: 228px;
          height: 38px;
          background-color: #262626;
          color: #ffffff;
          font-family: "Raleway";
          font-size: 18px;
          font-weight: 400;
          line-height: 1.65px;
          text-transform: uppercase;
          border-radius: 0;
        }
      }
    }
  }
}
