header {
  background: $nav-background-color;

  @media (max-width: 991px) {
    position: fixed;
    z-index: 999;
    width: 100%;
    opacity: 0.9;
  }

  .container {
    padding: 0;
  }

  .logo-img-nav {
    position: relative;
    z-index: 5;

    a.nav-link {
      padding: 0;

      img {
        position: absolute;
        top: -3px;
        left: 0;

        @media (max-width: 991px) {
          left: 50%;
          transform: translate(-50%);
        }

        @media (max-width: 424px) {
          width: 200px;
        }
      }
    }
  }

  .navbar {
    background: $nav-background-color;
    padding-left: 280px;

    @media (max-width: 424px) {
        padding-right: 0;
      }

    .navbar-toggler {
      @media (max-width: 575px) {
        margin-left: 10px;
      }

      @media (max-width: 424px) {
        width: 40px;
        height: 30px;
        padding: 0 0 3px 0px;
      }

      .navbar-toggler-icon {
        width: 1em;
        height: 1em;
      }
    }

    @media (max-width: 991px) {
      padding-left: 0;
      left: 50%;
      transform: translate(-50%);
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 991px) {
        padding-top: 60px;
        margin-left: 15px;
      }

      @media (max-width: 424px) {
        margin-left: 0;
      }

      li {
        &.nav-item {
          position: relative;
          cursor: pointer;
          padding: 10px 7px;
          color: $nav-main-color;
          font-family: "Raleway";
          font-size: 18px;
          text-transform: uppercase;

          @media (min-width: 992px) and (max-width: 1199px) {
            padding: 10px 0;
            font-size: 16px;
          }

          @media (max-width: 991px) {
            text-align: center;
          }

          @media (max-width: 575px) {
            padding: 3px 0;
          }

          &:focus {
            outline: none;
          }
          &:hover {
            &:before {
              content: "";
              border-top: 2px solid $nav-a-hover-lines-colors;
              position: absolute;
              top: 0px;
              left: 40%;
              width: 28px;

              @media (max-width: 991px) {
                left: 50%;
                width: 121px;
                transform: translate(-50%);
              }

              @media (max-width: 575px) {
                left: 50%;
                width: 70%;
                transform: translate(-50%);
              }

              @media (max-width: 419px) {
                left: 50%;
                width: 100%;
                transform: translate(-50%);
              }
            }

            &:after {
              content: "";
              border-top: 2px solid $nav-a-hover-lines-colors;
              position: absolute;
              bottom: 0px;
              left: 40%;
              width: 28px;

              @media (max-width: 991px) {
                left: 50%;
                width: 121px;
                transform: translate(-50%);
              }

              @media (max-width: 575px) {
                left: 50%;
                width: 70%;
                transform: translate(-50%);
              }

              @media (max-width: 419px) {
                left: 50%;
                width: 100%;
                transform: translate(-50%);
              }
            }
          }
          .nav-link {
            color: $nav-main-color;

            &:focus {
              color: inherit;
              outline: none;

              &:before {
                content: "";
                border-top: 2px solid $nav-a-hover-lines-colors;
                position: absolute;
                top: 0px;
                left: 40%;
                width: 28px;

                @media (max-width: 991px) {
                  left: 284px;
                  width: 121px;
                }

                @media (max-width: 767px) {
                  left: 194px;
                  width: 121px;
                }

                @media (max-width: 575px) {
                  left: 212px;
                  width: 121px;
                }
              }

              &:after {
                content: "";
                border-top: 2px solid $nav-a-hover-lines-colors;
                position: absolute;
                bottom: 0px;
                left: 40%;
                width: 28px;

                @media (max-width: 991px) {
                  left: 284px;
                  width: 121px;
                }

                @media (max-width: 767px) {
                  left: 194px;
                  width: 121px;
                }

                @media (max-width: 575px) {
                  left: 212px;
                  width: 121px;
                }
              }
            }

            &:hover {
              color: $nav-hover-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  button.navbar-toggler {
    background: $nav-main-color;
  }
}
